
body{
 margin: 0 ;
 text-align: center;
 font-family: 'Merriweather', serif;
}

/*this is common between the whole dot lists*/

.intro{
    width: 30%;
    margin: auto;
}
h1{
    font-size: 5.625em; /*thus means 90px but we use em for dynamicity */ 
    font-family: 'Sacramento', cursive;
    margin:50px auto 0 auto ;
    color: #66BFBF;
    line-height: 2;
}
h2{
    font-size: 2.5rem;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color:  #11999E;
}
.footer-link{
    color:  #11999E;
}
.skill-row{
    width: 50%;
    margin:100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.abosaif{
   border-radius: 50%;
    width: 25%;

}
.skill-pic{
    width: 30%;
    border-radius: 32%;
    float: left;
    margin-right: 30px;
}
.skill-pic2{
    width: 30%;
    border-radius: 32%;
    float: right;
    margin-left: 30px;
}

.top-container{
    background-color: #6096B4;
    position :relative;
    padding-top: 100px;
    margin-bottom: 3rem;
    
}
span{
    text-decoration: underline;
}
.contact-me{
    margin-top: 3rem;
    margin-bottom: 3rem;
    
}


.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;

}
.bottom-cloud{
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.bottom-container
{
   background-color : #66BFBF;
   padding: 50px 0 20px;
   
  
}
.copy-right{
    color: #EAF6F6;
    font-size: 0.75rem;
}

hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto 100px auto;

}
.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat',sans-serif;
    color: #fff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  a{
    color: #11999E;
    margin: 10px 20px;
    font-family: 'Montserrat',sans-serif;
    text-decoration: none;
 }
 a:hover{
    color: #EAF6F6;
 } 